#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	width: 96px;
}

#container > input[name='checkbox1'] {
	margin-bottom: 20px;
}

#container > input[name='checkbox2'] {
	height: 0;
	width: 0;
	opacity: 0;
}

#container > label[for='checkbox'] {
	height: 46px;
	width: 46px;
	border: 2px solid black;
	border-radius: 10%;
	background-color: white;
}

#container input[type='checkbox']:checked + label[for='checkbox'] {
	border: 2px solid white;
	background-image: url('./assets/checkbox.svg');
	filter: invert(100%);
}

#container
	> input[type='checkbox']:checked:focus-visible
	+ label[for='checkbox'] {
	outline: 2px solid yellow;
	outline-offset: 2px;
}

#container > input[type='checkbox']:focus-visible {
	outline: 2px solid blue;
	outline-offset: 2px;
}

#container > input[type='checkbox']:focus-visible + label[for='checkbox'] {
	outline: 2px solid blue;
	outline-offset: 2px;
}
